[user]
	name = u39ueda
	email = ueda.u39@gmail.com
[github]
	user = u39ueda
[core]
	excludesfile = /Users/yueda/.gitignore
	autocrlf = input
[alias]
	st = status -sb
	co = checkout
	ci = commit
	lg = log --oneline --graph --decorate
	br = branch
	reci = commit --amend
	xc = clean -xd
[pager]
	diff = less
[rebase]
	autosquash = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/yueda/.stCommitMsg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
